/* Full page layout */
.profile1-container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #b88efc, #6877f4);
  font-family: 'Segoe UI', sans-serif;
  animation: gradientFade 1.5s ease-in-out;
}

.profile-container {
  flex: 1;
  min-height: 80%;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to right, #001d3d, #6877f4);
  animation: gradientFade 1.5s ease-in-out;
  padding: 5rem 1rem 5rem;
}

/* Glass card */
.profile-card {
  width: 380px;
  padding: 40px;
  border-radius: 16px;
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  color: black;
  animation: fadeSlideUp 0.8s ease forwards;
  opacity: 0;
}

/* Title */
.profile-title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
}

/* Inputs */
.profile-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  border-radius: 8px;
  border: none;
  outline: none;
  font-size: 14px;
  color:black;
  background: rgba(255, 255, 255, 0.8);
  transition: all 0.3s ease;
}

.profile-input:focus {
  transform: scale(1.02);
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}

.profile-buttons {
  display: flex;
  gap: 10px;
}
/* Button */
.profile-button {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  background: white;
  color: #6877f4;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.profile-button:hover {
  background: #f2f2f2;
  transform: translateY(-2px);
}

.error {
  color: #ff4d4f;
  font-size: 13px;
  margin-bottom: 8px;
  display: block;
}

.profile-form input:focus {
  outline: none;
  border: 1px solid #6877f4;
  box-shadow: 0 0 5px rgba(104, 119, 244, 0.5);
}

/* Switch link */
.profile-link {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}

.profile-link span {
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
}

.profile-pic-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-bottom: 20px;
}

.profile-pic {
  width: 120px;          /* fixed size */
  height: 120px;
  border-radius: 50%;    /* circular */
  object-fit: cover;     /* crop properly */
  border: 2px solid #ddd;
}

/* Animations */
@keyframes fadeSlideUp {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes gradientFade {
  from {
    opacity: 0.8;
  }
  to {
    opacity: 1;
  }
}